
@{
    ViewData["Title"] = ViewBag.model.FriendlyName;
}

<div class="container container-md">

    <h2>@ViewBag.model.FriendlyName</h2>
    <a class="button margin-bottom-large" href="/"><button>Zpět na seznam</button></a>
    <br />
    <br />
        
    <div class="popup-gallery">
    
    @foreach(var galleryFile in ViewBag.model.Files) {
         <a href="@galleryFile.AzureFullUlr" title="" class="swipebox">
             <img src="@galleryFile.AzureFullUlr" alt="" class="img-responsive margin-bottom" /><span></span></a>
    }

 </div>
