
@{
    ViewData["Title"] = ViewBag.model.FriendlyName;
}

<div class="col-sm-12 col-md-12 col-lg-12">

    <h2>@ViewBag.model.FriendlyName</h2>
    <a class="zpet" href="/">Zpět na seznam</a>
    <br />
    <br />
        
    <div class="popup-gallery">
    
    @foreach(var galleryFile in ViewBag.model.Files) {
         <a href="@galleryFile.AzureFullUlr" title="" class="swipebox">
             <img src="@galleryFile.AzureFullUlr" alt="" class="img-responsive" /><span></span></a>
    }

 </div>
