
@{
    ViewData["Title"] = "I'm";
}


@foreach(var year in ViewBag.model) {
    <div class="container container-md margin-bottom-large">

        <h2>@(year.Year)</h2>

        @foreach(var evnt in year.GalleryEvents) {

            <div class="margin-bottom">
                <a href="@Url.Action("Detail", "Home", new { id = year.Year.ToString() + evnt.Name })" class="button">
                    <button>
                        @((string)evnt.FriendlyName)
                    </button>
                </a>
            </div>      
        }
    </div>
}

