
@{
    ViewData["Title"] = "Úvod";
}

<div class="col-sm-12 col-md-12 col-lg-12">

@foreach(var year in ViewBag.years) {
    <h2>@(year.Year)</h2>

    <ul>
    @foreach(var evnt in year.GalleryEvents) {

        <li>
            @Html.ActionLink((string)evnt.FriendlyName, "Detail", new { id = evnt.Name })
        </li>      
    }
    </ul>
}

</div>
